# Telegram Bot Token from @BotFather
BOT_TOKEN=8810183896:AAEtcbK-z19BkACmoUBTJiTYzvxCUVLHKzc

# Admin Telegram User ID
ADMIN_ID=1262396547

# Optional Telegram Group ID
GROUP_ID=-5569242233

# Supabase Credentials (from settings -> API)
SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_KEY=your-supabase-anon-public-key
